{% extends "common/setup_flow/setup.html" %}
{% load custom_tags %}

{% block css %}
{{ block.super }}
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<style>
    .input-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .custom-file-upload {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #00d8d2;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        background-color: #393b50;
        color: #ffffff;
        border-radius: 4px;
        font-size: 1rem;
        text-align: center;
        transition: background-color 0.3s ease;
    }

    .custom-file-upload:hover {
        background-color: #00d8d2;
        color: #1c1e29;
    }

    .file-upload {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
    }

    .file-upload input[type="file"] {
        font-family: 'Roboto', sans-serif;
        color: #ffffff;
        background-color: #00d8d2;
        border: none;
        padding: 10px 15px;
        border-radius: 4px;
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        width: 100%;
        opacity: 0;
        position: absolute;
        z-index: -1;
    }

    .upload-btn {
        font-family: 'Roboto', sans-serif;
        color: #ffffff;
        background-color: #00d8d2;
        border: none;
        padding: 10px 15px;
        border-radius: 4px;
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        width: 100%;
        transition: background-color 0.3s ease;
    }

    .upload-btn:hover {
        background-color: #27bdb2;
    }

    .loader {
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
        z-index: 9999;
        transition: background-color 0.5s ease;
    }

    .spinner {
        width: 60px;
        height: 60px;
        border: 6px solid #ffffff;
        border-top-color: #00d8d2;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }

    .face-loader * {
        opacity: 0.2;
    }

    .face-loader {
        position: absolute;
    }

    .face-outline,
    .face-centerline,
    .left-eye,
    .right-eye,
    .mouth,
    .horizontal-top,
    .horizontal-bottom,
    .horizontal-middle,
    .top-left,
    .top-right,
    .mid-left,
    .mid-right,
    .bottom {
        animation: flash .8s infinite;
    }

    .processing-text {
        color: #00d8d2;
        font-size: 16px;
        text-align: center;
        position: relative;
        display: inline;
        margin-right: 2px;
        vertical-align: bottom;
    }

    .cursor {
        display: inline-block;
        width: 2px;
        height: 1em;
        background-color: #00d8d2;
        animation: blink 1s steps(1) infinite;
        vertical-align: bottom;
    }

    @keyframes blink {
        50% {
            opacity: 0;
        }
    }

    /* Define separate animations for each element with different delays */

    @keyframes flash {
        50% {
            opacity: 1;
        }
    }

    .face-outline {
        animation-delay: 0.1s;
    }

    .face-centerline {
        animation-delay: 0.3s;
    }

    .left-eye {
        animation-delay: 0.5s;
    }

    .right-eye {
        animation-delay: 0.7s;
    }

    .mouth {
        animation-delay: 0.9s;
    }

    .horizontal-top {
        animation-delay: 1.1s;
    }

    .horizontal-bottom {
        animation-delay: 1.3s;
    }

    .horizontal-middle {
        animation-delay: 1.5s;
    }

    .top-left {
        animation-delay: 0.2s;
    }

    .top-right {
        animation-delay: 0.4s;
    }

    .mid-left {
        animation-delay: 0.6s;
    }

    .mid-right {
        animation-delay: 0.8s;
    }

    .bottom {
        animation-delay: 1.0s;
    }

    .instructions {
        font-size: 1rem;
        color: #b0b0b0;
        padding-top: 5px;
    }

    .warning-box {
        background-color: #ff9800;
        color: #ffffff;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 20px;
        text-align: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .faces-requirement {
        margin: 0;
        font-size: 0.9rem;
    }

    @keyframes spin {
        100% {
            transform: rotate(360deg);
        }
    }
</style>
{% endblock %}

{% block progress_indicator %}
{% with active_step=2 clickable_steps=clickable_step_numbers %}
{{ block.super }}
{% endwith%}
{% endblock %}

{% block card_title %}Optical Presence{% endblock %}
{% block card_subtitle %}Step 2: Upload Images{% endblock %}
{% block card %}
<p class="instructions">upload a set of photos containing the faces of your household members. The app
    will extract the
    faces for further classification.</p>
<div class="input-container">
    <div class="warning-box">
        <p class="faces-requirement">
            Note: Please make sure to upload enough photos to have at least 100 faces of each person.
        </p>
    </div>
    <p class="file-count"></p>
    <div class="file-upload">
        <label for="file-input" class="custom-file-upload">
            <i class="fas fa-cloud-upload-alt"></i> Select Photos
        </label>
        <form id="faces-form" action="/upload/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input id="file-input" name="folder" type="file" multiple accept="image/*" onchange="prepareSubmit()" />
            <button class="upload-btn" onclick="submitPhotos()" disabled>Submit</button>
        </form>
    </div>
</div>

{% endblock card %}

{% block javascript %}
{{ block.super }}
<script>
    function prepareSubmit() {
        const input = document.getElementById('file-input');
        const fileCount = input.files.length;
        const fileCountText = document.querySelector('.file-count');
        const submitButton = document.querySelector('.upload-btn');

        if (fileCount > 0) {
            fileCountText.textContent = `${fileCount} file(s) selected`;
            submitButton.disabled = false;
        } else {
            fileCountText.textContent = '';
            submitButton.disabled = true;
        }

    }

    async function submitPhotos() {
        const input = document.getElementById('file-input');
        const fileCount = input.files.length;
        if (fileCount > 0) {
            const loader = createLoaderElement();
            document.body.appendChild(loader);
            loader.style.display = 'flex';
            setTimeout(() => {
                loader.style.backgroundColor = 'rgba(0, 0, 0, 0.9)';
            }, 10);

            const processingTextElement = document.querySelector('.processing-text');
            processingTextElement.textContent = '';

            await typeEffect(processingTextElement, 'Uploading data...');
            await new Promise(resolve => setTimeout(resolve, 2000));
            await backspaceEffect(processingTextElement);

            await typeEffect(processingTextElement, 'Analyzing faces...');
            await new Promise(resolve => setTimeout(resolve, 2000));
            await backspaceEffect(processingTextElement);

            await typeEffect(processingTextElement, 'Finalizing results...');
            await new Promise(resolve => setTimeout(resolve, 2000));
            await backspaceEffect(processingTextElement);
        }
    }



    function createLoaderElement() {
        const loader = document.createElement('div');
        loader.id = 'loader';
        loader.className = 'loader';
        loader.innerHTML = `
        <svg class="face-loader" viewBox="0 0 100 100" width="60" height="60">
            <path id="path1" fill="none" stroke="black" d="M10,80 C40,10 60,10 90,80" />
            <path id="path2" fill="none" stroke="black" d="M10,20 L90,20" />
        </svg>
        <p class="processing-text"></p>
        <span class="cursor"></span>
    `;
        return loader;
    }


    async function typeEffect(element, text, delay = 80) {
        const cursor = document.querySelector('.cursor');
        for (let i = 0; i < text.length; i++) {
            element.textContent += text.charAt(i);
            element.parentNode.insertBefore(cursor, element.nextSibling);
            await new Promise(resolve => setTimeout(resolve, delay));
        }
    }

    async function backspaceEffect(element, delay = 30) {
        const cursor = document.querySelector('.cursor');
        for (let i = element.textContent.length - 1; i >= 0; i--) {
            element.textContent = element.textContent.slice(0, i);
            element.parentNode.insertBefore(cursor, element.nextSibling);
            await new Promise(resolve => setTimeout(resolve, delay));
        }
    }




</script>
{% endblock %}